<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>
    <body>
    <div>We are friends:
        <a href="/">Home</a>
        <a href="{{ url_for('suzhou_index') }}">Suzhou</a>   <!--url_for('functionname') -->
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <div class="footer">
        <hr>
    <p>Since 2019.9.17</p>
    </div>

    <br>
    </body>
</html>
